*.bin.gz -text
shared/telemetry/catalog/generated/* text eol=lf
test/artifacts/laps/*.bin filter=lfs diff=lfs merge=lfs -text
test/artifacts/laps/lmu-2026-09-22T21-18-23-218Z.bin.gz filter=lfs diff=lfs merge=lfs -text
